@inject NavigationManager navigation
<tr class="mail-item @(isDraft ? "drafts" : "") @(isReadToogle ? "read" : "unread") @(isChecked ? "is-selected" : "" )" style="gap: 0 10px">
    <td class="mail-td mail-checkbox">
        @if (isChecked)
            {
                <span class="icon is-small" @onclick="SelectedMail">
                    <i class="material-icons-sharp is-secondary-60">check_box</i>
                </span>  
            }
        else
            {
                <span class="icon is-small" @onclick="SelectedMail">
                    <i class="material-icons-outlined is-secondary-60">check_box_outline_blank</i>
                </span>
            }
    </td>
    <td class="mail-td mail-star">
        @if (isStar)
            { 
                <span class="icon is-small is-warning-20" @onclick="() => HandleStarMail(false)">
                    <i class="material-icons-sharp" style="font-size: 12px;">star_purple500</i>
                </span>
            }
        else
            { 
                <span class="icon is-small is-warning-20" @onclick="() => HandleStarMail(true)">
                    <i class="material-symbols-outlined "  style="font-size: 12px;">star</i>
                </span>
            }
    </td>
    <td class="mail-td mail-from">
        <span class="is_sub2 @(isReadToogle ? "read" : "unread") text-ellipsis">
            @if(isSentMail) 
            {
                <span>Đến: </span>
            }
            Tôi
        </span>
    </td>
    <td class="mail-td mail-main" @onclick="HandleViewDetail">
        <div>
            <div class="mail-main-content">
                <div class="mail-subject">
                    <span class="text-ellipsis is_sub2 @(isReadToogle ? "read" : "unread")">
                            @subject
                    </span>
                </div>
                <div class="mail-body">
                    <span class="is_body2 @(isReadToogle ? "read" : "unread")">
                        -
                    </span>
                        @body
                </div>
            </div>    
        </div>
        @if(attachments.Count > 0)
        {
            <ul class="attachments-list">
                @foreach (var attachment in attachments.Take(3))
                    {
                        <li class="attachment-item">
                            <img style="width: 16px; height: 16px;" src="@string.Concat("images/", attachment.icon, ".png")">
                            <span>@attachment.name</span>
                        </li>
                    }
            @if (attachments.Count() > 2)
                {
                    <li class="attachment-item count">
                        <span class="is_sub2 is-secondary-40">+@(attachments.Count() - 3)</span>
                    </li>
                 }
        </ul>
        }
    </td>
    <td class="mail-td">
            <div class="mail-actions">
                @if (isReadToogle)
                    {
                        <span class="is-pointer is-small" @onclick="() => HandleToogleReadMail(false)">
                           <i class="icon material-icons-outlined"> drafts</i>
                        </span>
                    }
                    else
                    { 
                        <span class="is-pointer is-small" @onclick="() => HandleToogleReadMail(true)">
                           <i class="icon material-icons-outlined">mail</i>
                        </span>
                    }
                        <span class="is-pointer is-small">
                           <i class="icon material-icons-outlined">delete</i>
                        </span>
            </div>
    </td>
    <td class="mail-td tags-list">
        @foreach (var label in labels.Take(2))
            {
                <div style="background-color: @(label.color + "33")" class="tag-item">
                    <span style="color: @label.color;" class="is_caption">@label.name</span>
                </div>
            }
            @if (labels.Count() > 2)
            {
                <div class="tag-item count">
                        <span class="is_sub2 is-secondary-40">+@(labels.Count() - 2)</span>
                </div>
            }

    </td>
    <td class="mail-td mail__item-datetime">
        <span class="is-block @(isReadToogle ? "read" : "unread")">@sentDate</span>
    </td>
</tr>
@code {

    [Parameter]
    public string id { get; set; }
    [Parameter]
    public bool isSentMail { get; set; }
    [Parameter]
    public string from { get; set; }
    [Parameter]
    public string subject { get; set; }
    [Parameter]
    public string body { get; set; }
    [Parameter]
    public string sentDate { get; set; }
    [Parameter]
    public List<AttachmentModel> attachments { get; set; }
    [Parameter]
    public List<string> labelsIds { get; set; }
    [Parameter]
    public bool isImportant { get; set; }
    [Parameter]
    public bool isRead { get; set; }
    [Parameter]
    public bool isChecked { get; set; }
    [Parameter]
    public EventCallback<SelectedModel> HandleSelectedMail { get; set; }
    [Parameter]
    public bool isDraft { get; set; }
    public bool isStar { get; set; }
    public bool isReadToogle { get; set; }

    public List<LabelModel> labels = new List<LabelModel>();

    protected override async Task OnInitializedAsync()
    {
        LabelData labelData = new LabelData();
        isStar  = isImportant;
        isReadToogle = isRead;
        labels = await labelData.FindLabelsByIds(labelsIds);
    }


    private async Task SelectedMail()
    {
        var selected = new SelectedModel
            {
                isChecked = !isChecked,
                itemId = id,
            };
        await HandleSelectedMail.InvokeAsync(selected);
    }


    private void HandleStarMail(bool isStarMail)
    {
        isStar = isStarMail;
    }


    private void HandleToogleReadMail(bool isReadMail)
    {
        isReadToogle = isReadMail;
    }

    private void HandleViewDetail() 
    {
        navigation.NavigateTo("inbox/" + id, true);
    }

}