@page "/config/mail"
@layout LayoutMail
<div class="is-padding-20">
    <div class="container-manager is-config">
        <div class="is-flex is-align-items-center">
            <p class="is-flex-1 is-uppercase is_h6 is-secondary-20">Cấu hình hộp thư</p>
            <div class="wrapper-button primary-btn" @onclick="() => HandleToggleShowModalAdd(true)">
                <span class="icon">
                    <i class="material-icons-outlined has-text-white">add</i>
                </span>
                <span class="has-text-white is_button">Thêm danh mục</span>
            </div>
        </div>
        <p class="is-padding-20-x is_body1 is-secondary-20">Danh sách hạng mục</p>
        <ul>
            <li class="is-flex is-align-items-center is-justify-content-space-between is-padding-10-y border-bottom">
                <div class="is-flex is-align-items-center is-gap-10-y">
                    <span class="is_sub2 is-secondary-20">Nhân sự</span>
                </div>
                <div class="is-flex is-align-items-center is-gap-10-y">
                    <span class="icon is-pointer is-primary-40"  @onclick="() => HandleToggleShowModalEdit(true)">
                        <i class="material-icons-outlined">edit</i>
                    </span>
                    <span class="icon is-pointer is-error-60" @onclick="() => HandleToggleShowModalConfirm(true)">
                        <i class="material-icons-outlined">delete</i>
                    </span>
                </div>
            </li>
        </ul>
    </div>
    <_ModalConfirmation
        nameModal="Xác nhận việc xóa danh mục"
        contentButton="Xóa"
        contentModal="Thao tác này sẽ ảnh hưởng đến các thư nằm trong danh mục “Nhân sự”, bạn có chắc chắn muốn xóa không?"
        toggleActiveModal="@isShowModalConfirm"
        HandleToggleActiveModal="HandleToggleShowModalConfirm"
    />
    <_ModalData
        nameModal="Thêm danh mục"
        contentButton="Cập nhật"
        toggleActiveModal="@isShowModalAdd"
        HandleToggleActiveModal="HandleToggleShowModalAdd"
        name="@name"
    />
    <_ModalData
        nameModal="Chỉnh sửa danh mục"
        contentButton="Cập nhật"
        toggleActiveModal="@isShowModalEdit"
        HandleToggleActiveModal="HandleToggleShowModalEdit"
        name="@name"
    />

</div>
@code{
    public bool isShowModalConfirm = false;
    public bool isShowModalAdd = false;
    public bool isShowModalEdit = false;
    public string name;
    public void HandleToggleShowModalConfirm(bool isShow) {
        isShowModalConfirm = isShow;
    }
    public void HandleToggleShowModalAdd(bool isShow) {
        isShowModalAdd = isShow;
    }
    public void HandleToggleShowModalEdit(bool isShow) {
        isShowModalEdit = isShow;
    }
}