<div class="pb-5">
    <div class="is-flex is-align-items-center" style="gap: 0 20px">
        <p class="is-flex-1  is-secondary-10 is_typhography">@poll.title</p>
        <div class="is-flex is-align-items-center" style="gap: 0 20px">
            <div class="is-flex is-align-items-center">
                <span class="icon is-secondary-40 is_body2">
                    <i class="material-icons-outlined ">info</i>
                </span>
                <span class="is_body2 is-secondary-40">Thời gian kết thúc: </span>
            </div>
            <div class="is-flex is-align-items-center is-gap-4">
                <div class="is-flex is-align-items-center">
                    <span class="icon">
                        <i class="material-icons-outlined is-secondary-10">calendar_today</i>
                    </span>
                    <span class="is_caption is-black">@poll.endDate</span>
                </div>
                <div class="is-flex is-align-items-center">
                    <span class="icon">
                        <i class="material-icons-outlined is-secondary-10">schedule</i>
                    </span>
                    <span class="is_caption is-black">@poll.endTime</span>
                </div>
            </div>
        </div>
    </div>
    <div class="poll__content">
        <ul class="is-flex is-flex-direction-column" style="gap: 20px 0">
            @foreach (var question in poll.questions)
            {
            <li>
                <div class="is-flex is-align-items-center is-gap-8">
                    <span class="is_sub2">1.</span>
                    <p class="is_sub2 is-secondary-20">@question.text</p>
                </div>
                <div class="control is-mt-10 is-flex is-flex-direction-column is-gap-10-x">
                        @foreach (var choice in question.choices)
                        {
                            <label class="is-flex is-align-items-center is-gap-4">
                                @if(question.isMultipleChoice) 
                                {
                                    <input type="checkbox" />
                                }
                                else
                                {
                                    <input type="radio" />
                                }
                                @choice.text
                            </label>
                        }
                </div>
            </li>
            }
        </ul>
    </div>
    <div class="wrapper-button primary-btn" style="display: inline-flex;" @onclick="OnEditPoll">
        <span class="icon">
            <i class="material-icons-outlined">edit</i>
        </span>
        <span class="is_caption">Chỉnh sửa</span>
    </div>
</div>

@code {
    [Parameter] public PollModel poll { get; set; }  
    [Parameter] public EventCallback HandleEditPoll { get; set; }  

    private void OnEditPoll() 
    {
        HandleEditPoll.InvokeAsync();
    }
}



