@inject IJSRuntime JSRuntime
@inject ProtectedLocalStorage storage
@inject NavigationManager navigation
<nav class="mail__sidebar @(navLess ? "is_less" : "" )">
    <div class="is-flex is-align-items-center is-pointer is-justify-content-center" @onclick="ToggleSidebar" style="width: 44px; height: 44px; margin-right: 10px;">
        <span class="icon is-small">
            <i class="material-icons-outlined">menu</i>
        </span>
    </div>

    <div class="mail__sidebar-menu scrolly">
        <div class="mail__sidebar-add" style="margin-right: 10px;">
            <a href="create" class="is-flex is-align-items-center is-justify-content-center is-full">
                <span class="icon">
                    <i class="material-icons-outlined has-text-white">add</i>
                </span>
                <span class="has-text-weight-medium has-text-white">Tạo thư mới</span>
            </a>
        </div>
        @foreach (var item in NavMap.Values)
        {
            <div  style="margin-right: 10px;" class="mail__sidebar-item is-flex is-align-items-center @(currentPath == item.link ? "active" : "")">
                <a href="@item.link" @onclick="SetActiveNavItem">
                    <span class="icon">
                        <i class="material-icons-sharp is-secondary-40">@item.icon</i>
                    </span>
                    <span class="is_sub2 is-secondary-40 mail__sidebar-item-text">@item.name</span>
                </a> 
            </div>
        }
        <div style="margin-right: 10px;" class="mail__sidebar-item border is-flex is-align-items-center is-gap-10-y">
            <span class="icon">
                <i class="material-icons-outlined">arrow_drop_down</i>
            </span>
            <span class="is_sub2 is-secondary-40">Nhãn</span>
        </div>
        <div class="labels-list">
            @foreach (var label in labels)
            {
                <div class="label-item @(label.id == activeLabel ? "label-active" : "")">
                    <a href="mail/label/@label.id" class="is-flex is-gap-10-y is-align-items-center" @onclick="() => HandleActiveLabel(label)">
                        <span class="icon">
                            <i class="material-icons-sharp" style="color: @label.color">label</i>
                        </span>
                        <span class="text-ellipsis is_sub2 @(label.id == activeLabel ? "is-primary-40" : "is-secondary-40") ">@label.name</span>
                    </a>
                </div>
            }

        </div>
    </div>

    <div class="nav-settings">
        <a href="settings" class="is-flex is-align-items-center is-gap-10-y" style="width: 100%;">
           <span class="icon is_sub2 is-secondary-40">
                <i class="material-icons-sharp">settings</i>
            </span>
            <span class="is_sub2 is-secondary-40">Thiết lập</span>
        </a>
    </div>

</nav>

@code{
    [CascadingParameter]
    public LayoutMain Layout { get; set; }
    [Parameter]
    public EventCallback<int> HandleActiveTab { get; set; }
    [Parameter]
    public EventCallback<bool> HandleToggleSidebarMail { get; set; }
    private Dictionary<int, NavModel> NavMap = new Dictionary<int, NavModel>();
    public string activeLabel { get; set; }
    private bool navLess = false;
    private List<LabelModel> labels = new();
    private NavModel prevActiveNavItem;
    public string currentPath { get; set;}

    private async Task ToggleSidebar()
    {
        navLess = !navLess;
        await HandleToggleSidebarMail.InvokeAsync(navLess);
    }

    protected override async Task OnInitializedAsync()
    {
        labels = await LabelData.GetAllLabels(Layout.User.id);
        var relativePath = navigation.ToBaseRelativePath(navigation.Uri);
        Navigation();
        SetActiveNavItem();
    }

    private void SetActiveNavItem()
    {
        var relativePath = navigation.ToBaseRelativePath(navigation.Uri);
        if(relativePath.StartsWith("mail/label/"))
        {
            var label = labels.FirstOrDefault(item => item.id == relativePath?.Split('/').Last());
            activeLabel = label?.id;
        }
        else
        {
            currentPath = relativePath;
        }
    }

    private void Navigation() 
    {
        NavMap.Add(1, new NavModel
            {
                id = 1,
                name = "Thư đã nhận",
                icon = "inbox",
                link = "mail/inbox",
                active = false,
            });
        NavMap.Add(2, new NavModel
            {
                id = 2,
                name = "Thư đã gửi",
                icon = "send",
                link = "mail/sent",
                active = false,
            });
        NavMap.Add(3, new NavModel
            {
                id = 3,
                name = "Thư quan trọng",
                icon = "star",
                link = "mail/important",
                active = false,
            });
        NavMap.Add(4, new NavModel
            {
                id = 4,
                name = "Thư nháp",
                icon = "drafts",
                link = "mail/drafts",
                active = false,
            });
        NavMap.Add(5,new NavModel
            {
                id = 5,
                name = "Thùng rác ",
                icon = "delete",
                link = "mail/trash",
                active = false,
            });
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var relativePath = navigation.ToBaseRelativePath(navigation.Uri);

            if (relativePath.StartsWith("mail/label/"))
            {
                var label = labels.FirstOrDefault(item => item.id == relativePath?.Split('/').Last());
                activeLabel = label?.id;
                return;
            }
            else
            {
                foreach (var item in NavMap.Values)
                {
                    if (item.link == relativePath)
                    {
                        item.active = true;
                        prevActiveNavItem = item;
                        return;
                    }
                }
            }
            StateHasChanged();
        }
    }


    private void HandleActiveLabel(LabelModel clickedLabel) {
        activeLabel = clickedLabel.id;
    }
}


