<li class="is-padding-20-x is-border-y" style="gap: 0 12px">
    @if (!isShow)
    { 
        <div class="columns" @onclick="ToogleShow">
            <div class="column is-9">
                <div class="is-flex-1 is-flex is-gap-10-y">
                    <figure class="image is-32x32 is-rounded" style="min-width: 32px;">
                        <img src="@member.avatar">
                    </figure>
                    <div class="is-flex-auto">
                        <p class="is_sub2 is-secondary-10" style="margin-bottom: 5px;">@member.name</p>
                        @((MarkupString)mail.shortBody)
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <div class="is-flex is-align-items-center is-justify-content-flex-end is-full">
                    <span class="is_caption is-secondary-40">@sentDateTime.ToString("HH:mm")</span>
                    <span class="mr-1">,</span>
                    <span class="is_caption is-secondary-40">@sentDateTime.ToString("dd/MM/yyyy") (@convertDate)</span>
                </div>
            </div>
        </div>
    }
    else
    {
        <ul>
        <_Info
            author="author"
            mail="mail"
            SetCurrentAction="SetCurrentAction"
        />
            <li class="is-padding-20-x" style="gap: 0 12px">
                    <div style="margin-left: 45px;">
                        <div  @onclick="ToogleShow">
                            @((MarkupString)mail.body)
                              <div class="is-padding-20-x">
                                    @((MarkupString)mail.signature.body)
                                </div>
                            @if(!String.IsNullOrEmpty(mail.parentId))
                            {
                            <div>
                                <div class="dots">
                                    <span class="icon">
                                        <i class="material-icons-outlined is-secondary-10">more_horiz</i>
                                    </span>
                                </div>
                                <div class="container-reply">
                                   <div class="bordy-reply">
                                     @((MarkupString)mail.parentId)
                                   </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
            </li> 
        </ul>
    }
</li>

@code{
    public bool isShow;
    [Parameter] public MailModel mail { get; set; } = new MailModel();
    [Parameter] public EventCallback<ActionModel> SetCurrentAction { get; set; }
    public MemberModel member = new MemberModel();
    public DateTime sentDateTime;
    public string convertDate;
    public UserModel author  = new();

    protected override async Task OnInitializedAsync()
    {
        isShow = false;
        author = await UserData.Get(mail.from);
        member = InitDataFakeHelper.GetMemberById(mail.from);
        sentDateTime = DateTime.Parse(mail.sentDate);
        convertDate = SharedHelper.ConvertDate(sentDateTime);
    }

    public void ToogleShow() 
    {
        isShow = !isShow;
        InvokeAsync(StateHasChanged);
    }



    public void HandleClickAction(string action)
    {
        SetCurrentAction.InvokeAsync(
            new ActionModel {
                mail = mail.id,
                action = action
            }
        );
    }
}