<div class="poll__content" style="margin: 0; border-top-left-radius: 0;">
    <ul class="is-flex is-flex-direction-column" style="gap: 20px 0">
        @{
            var index = 1;
        }
        @foreach (var question in questions)
        {
            <li>
                <div class="is-flex is-align-items-center is-gap-8">
                    <span class="is_sub2">@index.</span>
                    <p class="is_sub2 is-secondary-20">@question.text</p>
                </div>
                <div class="control is-mt-10 is-flex is-flex-direction-column is-gap-10-x">
                    @foreach (var choice in question.choices)
                    {
                        <_ChoiceItem
                            choice="choice"
                            questionid="@question.id"
                            isMultipleChoice="@question.isMultipleChoice"
                            idChoice="@idChoice"
                            IsVotePrevious="IsVotePrevious"
                            OnVote="Vote"
                            isStopped="@isStopped"
                        />
                    }
                </div>
            </li>
            index++;
        }
    </ul>
</div>
@code{
    [CascadingParameter]
    public LayoutMain Layout { get; set; }
    [Parameter] 
    public PollModel poll { get; set; } = new PollModel();
    [Parameter]
    public bool isStopped { get; set; }

        [Parameter] 
    public List<QuestionModel> questions { get; set; }
    public string idChoice { get; set; } = String.Empty;
    

    public void IsVotePrevious(string id) {
        idChoice = id;
    }

    public async Task Vote(QuestionChoice question)
    {
        // radio button
        if(!question.isMultipleChoice) {
            if (!question.isVotePrevious)
            {
                if (!String.IsNullOrEmpty(idChoice))
                {
                    await PollData.UnVote(poll.id, question.id, idChoice, Layout.User.id);
                }
                idChoice = question.choiceId;
                await PollData.Vote(poll.id, question.id, idChoice, Layout.User.id);
                @* MessagingCenter.Send<string>(idChoice,"vote"); *@
            }
        }
        // checkbox
        else 
        { 
            idChoice = question.choiceId;
            if(question.isVotePrevious) 
            {
                await PollData.UnVote(poll.id, question.id, idChoice, Layout.User.id); 
            }
            else
            { 
                await PollData.Vote(poll.id, question.id, idChoice, Layout.User.id);
            }    
        }

    }
}