<div class="is-padding-top-20" style="padding-bottom: 100px;">
    <div class="is-flex is-align-items-center is-gap-10-y">
        <span>Chữ ký:</span>
        <div class="dropdown is-up click @(toggle ? " is-active" : "" )">
            <div class="dropdown-trigger is-hover drop-border" @onclick='Toggle'>
                <div class=" is-flex is-align-items-center">
                    <span class="is-secondary-20 is-font-14">@(currentSignature.name != null ? currentSignature.name : "Không có chữ ký" )</span>
                    <span class="icon">
                        <i class="material-icons-sharp read">arrow_drop_down</i>
                    </span>
                </div>
            </div>
            <div class="dropdown-menu" style="min-width: 185px;">
                <div class="dropdown-content" style="padding: 10px;">
                    <div class="dropdown-item is-flex is-align-items-center is-gap-4"
                        @onclick="() => Set(null)">
                        <span class="icon">
                            <i class="material-icons-sharp is_body2">@(currentSignature.name == null ? "done" : "")</i>
                        </span>
                        <span class="is_body2">Không có chữ ký</span>
                    </div>
                    @foreach ( var signature in signatures)
                    {
                    <div class="dropdown-item is-flex is-align-items-center is-gap-4"
                        @onclick="() => Set(signature)">
                        <span class="icon">
                            <i class="material-icons-sharp is_body2">@(currentSignature.name != null && currentSignature.id == signature.id ? "done" : "")</i>
                        </span>
                        <span class="is_body2">@signature.name</span>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="is_sub2 is-secondary-10 pt-4">
        @((MarkupString)QuillHTMLContentSignature)
    </div>
</div>

@code{
    [CascadingParameter] public LayoutMain Layout { get; set; }
    [Parameter] public EventCallback<SignatureModel> OnSetSignature  {get; set; }
    string QuillHTMLContentSignature;  
    private bool toggle = false;
    public SignatureModel currentSignature  = new SignatureModel();
    public List<SignatureModel> signatures =  new List<SignatureModel>();

    // Toogle dropdown chọn chữ ký
    private void Toggle()
    {
        toggle = !toggle;
    }

    protected override async Task OnInitializedAsync()
    {
        signatures = await SignatureData.GetList(Layout.User.id);
        currentSignature = await SignatureData.GetDefault(Layout.User.id);
        QuillHTMLContentSignature = currentSignature?.body;
    }

    
    // Set chữ ký
    private async Task Set(SignatureModel signature) 
    {
        // Kiểm tra chữ ký mặc định có null
        signature ??= new SignatureModel();

        // Set chữ ký hiện tại để hiển thị
        currentSignature = signature;
        // Callback update
        await OnSetSignature.InvokeAsync(currentSignature);
        
        QuillHTMLContentSignature = currentSignature.body;
        toggle = !toggle;
    }

}